name: Deploy site
permissions:
  contents: "read"
  id-token: "write"
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    needs: infrastructure
    runs-on: ubuntu-latest
    environment:
      name: prod
    defaults:
      run:
        working-directory: drew-leon-ui
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Node.js 18
      uses: actions/setup-node@v2-beta
      with:
        node-version: '18.x'
    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
    - name: Install dependencies
      run: npm ci
    - name: Build app
      run: npm run build
    - name: Sync to S3
      run: |
        aws s3 sync build s3://${{ env.BUCKET_NAME }} \
          --delete \
          --exclude 'index.html' \
          --cache-control 'max-age=31536000,public' \
          --metadata '{"build": "'${{ github.run_number }}'"}'
        aws s3 cp build/index.html s3://${{ env.BUCKET_NAME }} \
          --cache-control 'no-cache, no-store, must-revalidate' \
          --metadata '{"build": "'${{ github.run_number }}'"}'
    - name: Invalidate cache
      run: |
        aws cloudfront create-invalidation --distribution-id ${{ env.DISTRIBUTION_ID }} --paths '/*'